*{
    box-sizing: border-box;
}



:root{
    --color1:#D89584;
    --color2:#f4f4f4;
}


body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


div.cover{
    background: url(cover_overlay.png)no-repeat center/100% 100%,url(cover.jpg) no-repeat center;
    background-size: cover;
    height: 350px;
    position: relative;
}
 div.cover img{
    height: 100px;
    position: relative;
    left: 50%;
    margin-left: -50px;
    margin-top: 60px;
    border-radius: 50%;
  
}

 div.cover h1{
    color:white;
    text-align: center;
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 0px;
}
 div.cover p{
  color: lightgray;
  text-align: center;
  margin-top: 4px;
}
div.cover-conctact{
    /**/
    position: absolute;
    top: 10px;
    left: 10px;
    border-left: 4px solid var(--color1);
    padding-left: 8px;
}
div.cover-conctact p{
    text-align: left;
}
div.cover-conctact a{
    color: white;
}
a.contact-button{
    color:var(--color1); 
    border: 3px solid var(--color1);
    padding: 8px 20px;
    text-decoration: none;
    background-color: #00000040;
    display: inline-block;
    margin-top: 15px;
    font-size: 14px;
    
}
a.contact-button:hover{
    color: white;
    border: 3px white;
    border: 3px solid hsl(246, 72%, 46%);
}

.section{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: auto;

}
h2{
    text-align: center;
    
    
}
div.section-grise1{
    background: url(triangle2white.svg) no-repeat center bottom /100%;
    background-color: var(--color2);
    padding-bottom: 80px;
}
div.separateur{
    background-color: #979797;
    height: 3px;
    width:  150px;
    position: relative;
    left: 50%;
    margin-left: -75px;
    
}
div.section-grise2{
    background: url(triangle1white.svg) no-repeat center top /100%;
    background-color: var(--color2);
    padding-top: 80px;
}
div.section-grise1 p{
    font-size: 22px;
    color: #656565;
    text-align: center;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}
.col40{
    width: 40%;
}
.col60{
    width: 60%;
}
.float-rigth{
    float:right;
}
.col-portfolio
{
    width: 48%;
}
p.ligne-verticale{
    margin-top: 0;
    border-left: 4px solid var(--color1);
    padding-left: 8px;
    height: 50px;
    display: inline-block;
}
a.ligne-verticale{
    margin-top: 0;
    border-left: 4px solid ;
    padding-left: 8px;
    color: #a58880;
}
.savoir-ligne-verticale{
    margin-top: 0;
    border-left: 4px solid ;
    padding-left: 8px;
    color: #a58880;
}

div.barre-vertical{
    height: 50px;
    width: 4px;
    background-color: var(--color1);
}
  
div.barre-vertical2{
    height: 50px;
    width: 4px;
    background-color: var(--color1);
}
  
div.frame{
    margin: 30px 50px;
    padding: 20px 30px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.548);
}
h3{
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;

}
table.preparation p.numero {
    background-color: #6C829D;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;
}

table.preparation td {
    vertical-align: top;
}

table.preparation td.preparation_etape {
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}

table.preparation tr {
    height: 40px;
}

/* PORFOLIO*/

.porfolio-header{
    height: 90px;
    background: url(cover.jpg)no-repeat center/cover;
    position: relative;
    
}

.porfolio-header-titre{
    font-size: 26;
    font-weight: bold;
    color: white;
}

h1 {
    text-align: center;
}
h4{
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.porfolio-back{
    color: var(--color1);
    margin-left: 10px;
}
.porfolio-back:hover{
    color: blue;
}
iframe{
    width: 100%;
    border: none;
    height: 350px;
}



/*MOBILE*/
@media only screen and (max-width: 768px) {
    div.cover img{
        height: 85px;
        margin-top: 70px;
      
    }
    
     div.cover h1{
        
        font-size: 35px;
        margin-top: 4px;
        margin-bottom: 0px;
    }
     div.cover p{
      
      margin-top: 2px;
      font-size: 10x;
    }
    .section{
        padding-left: 18px;
        padding-right: 18px;
        
    }
    div.section-grise1{
        
        padding-bottom: 38px;
    }
    h2{
        font-size: 28px;
        
    }
      .co140{
        width:100%;
    }
       .col60{
        width: 100%;
    }
        .col-portfolio{
         width: 100%;
       }
       div.frame{
        margin: 0px 0px;
        padding: 0px 0px;
        background-color: white;
        box-shadow: none;
    }
          /*PORFOLIO MOBILE*/
    .porfolio-header-titre{
        font-size: 20;
        
    }
    div.cover-conctact{
      /**/
        font-size: 12px;
    }
    a.contact-button{
        padding: 3px 7px;
         margin-top: 12px;
        font-size: 8px;
        
    }
    .porfolio-back:hover{
        color: blue;
    }
    h4{
        
        font-size: 15px;
      
    }
    .porfolio-header{
        height: 120px;
        
    }
  }

